<%=form_with(model: form) do |form|%>

    <div class="space-y-12">
    <div class="border-gray-900/10 pb-12">
      <h2 class="text-base/7 font-semibold text-gray-900">Form</h2>
      <p class="mt-1 text-sm/6 text-gray-600">This form is for ask to OpenAI.</p>

      <div class="mt-10 grid grid-cols-1 gap-x-6 gap-y-8 sm:grid-cols-6">
        <div class="sm:col-span-4">
          
          

        <label for="name" class="block text-sm/6 font-medium text-gray-900">Name</label>
        <div class="mt-2">
            <%= form.text_field :name, class: "block w-full rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600 sm:text-sm/6" %>
        </div>

        <div class="col-span-full">
          <label for="description" class="block text-sm/6 font-medium text-gray-900">Description</label>
          <div class="mt-2">
            <%= form.text_area :description, class: "block w-full rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600 sm:text-sm/6"%>
          </div>
        </div>

        

    <div class="border-gray-900/10 pb-12">

      <div class="mt-10 grid grid-cols-1 gap-x-6 gap-y-8 sm:grid-cols-6">
        

        <div class="sm:col-span-3">
          <label for="country" class="block text-sm/6 font-medium text-gray-900">Procesamiento</label>
          <div class="mt-2 grid grid-cols-1">
            <%= form.select :processed_in_job, [["Hilo principal", true], ["Encolado", false]] %>
          </div>
        </div>

    </div>


    <div class="mt-2">
        <%= form.submit %>
    </div>
  <% end %>

